<template>
  <div v-if="render">
    <slot
      v-for="field of innerFields"
      :allowable="field._allowable"
      :name="field.name"
      :model="field._model"
      :min="field._min"
      :max="field._max"
      :value="field._value"
      :update="field.__update"
    />
  </div>
</template>

<script>

/*
 * Функция для обращения к вложенности объекта через точку
 * getObjectField({ a: { b: 1 } }, 'a.b') = 1
 */
function getObjectField (object = {}, nesting = '', defaultValue = null) {
  const properties = nesting.split('.').filter(i => !!i)

  let result = object
  for (const property of properties) {
    result = result[property]

    if (!result) {
      return defaultValue
    }
  }

  return result
}


function getValuesObjectField(object = {}, nesting = '') {
  const lev = nesting.split('.*.')

  if (lev.length === 1) {
    const result = getObjectField(object, nesting, null)
    return result ? [result] : []
  }

  const finder = (result, le) => {
    if (Array.isArray(result)) {
      let res = []
      for (const item of result) {
        const it = getObjectField(item, le, [])

        if (Array.isArray(it)) {
          res = res.concat(it)
        } else {
          res.push(it)
        }
      }

      return res
    }

    return getObjectField(result, le, [])
  }

  let result = Object.assign({}, object)
  for (const le of lev) {
    result = finder(result, le)
  }

  return result
}


function checkExpression (object, expression) {

  const equality = expression.split('=')
  if (equality.length === 2) {
    const [nestle, value] = equality

    const values = getValuesObjectField(object, nestle.toString().trim())

    for (const possibleValue of values) {
      if (possibleValue.toString().trim() === value.toString().trim()) {
        return true
      }
    }

    return false
  }

  return false
}

/**
 * Функция сортировки
 * @param data - данные
 * @param innerFields - схема полей
 * @returns {*[]}
 */
function applyFilter (data, innerFields) {
  const result = []

  for (const item of data) {
    let apply = true

    for (const field of innerFields) {
      const fieldValue = getObjectField(item, field.field)

      switch (field.type) {
        case 'range':
          apply = (field._value.from <= fieldValue && fieldValue <= field._value.to)
          break
        case 'check':
          if (field._value && field.expression) {
            apply = checkExpression(item, field.expression)
          } else if (!field.expression) {
            apply = field.falseMeanAll && !field._value ? true : Boolean(field._value) === Boolean(fieldValue)
          }
          break
        case 'tabs':
          apply = field._value ? field._value === ((field.associative || {})[fieldValue] ?? fieldValue) : true
          break
      }

      if (!apply) {
        break
      }
    }

    if (apply) {
      result.push(item)
    }
  }

  return result
}

export default {
  name: "base-filter",
  props: {
    data: Array,
    fields: Array,
    value: Array
  },
  data () {
    return {
      innerFields: [],
      render: false
    }
  },
  watch: {
    fields: {
      immediate: true,
      handler (val) {
        this.innerFields = val.map((_, index) => ({..._, _index: index}))

        const superFields = this.innerFields.filter(field => field.calcMinMaxOnApply)

        for (const field of superFields) {
          if (!field._watch) {
            field._watch = this.$watch(`innerFields.${field._index}._value`, () => {
              this.initFilter(applyFilter(this.data, superFields))
            })
          }
        }
      }
    },
    data: {
      immediate: true,
      handler (val) {
        if (val && val.length) {
          this.initFilter()
        }
      }
    },
    innerFields: {
      deep: true,
      handler () {
        this.applyFilter()
      }
    }
  },
  methods: {
    initFilter (filteredData = null) {
      let data = filteredData ?? this.data

      for (const field of this.innerFields) {
        delete field._min
        delete field._max
      }

      this.render = false
      // calc min max
      for (const item of data) {
        for (const field of this.innerFields) {
          if (field.type === 'range') {
            if (!field._min && !field._max) {
              field._min = Number.MAX_VALUE
              field._max = Number.MIN_VALUE
            }

            field._min = Math.min(field._min, getObjectField(item, field.field))
            field._max = Math.max(field._max, getObjectField(item, field.field))

          } else if (field.type === 'tabs') {
            if (!field._allowable) {
              field._allowable = []
            }

            const fieldValue = getObjectField(item, field.field);
            const value = (field.associative || {})[fieldValue] ?? fieldValue

            if (!field._allowable.includes(value)) {
              field._allowable.push(value)
            }

            field._allowable.sort()
          }
        }
      }

      // Start value
      let index = 0
      for (const field of this.innerFields) {

        if (!field.__update) {
          field.__update = ((index) => (value) => {
            // Если недопустимое значение
            if (this.innerFields[index]._allowable && !this.innerFields[index]._allowable.includes(value)) {
              return
            }

            this.$set(this.innerFields[index], '_value', value)
          })(index)
        }

        if (!field._model) {
          field._model = {
            get value () {
              return field._value
            },
            set value (val) {
              field.__update(val)
            }
          }
        }

        const setDefault = (value) => {
          this.$set(this.innerFields[index], '_value', field.default ?? value)
        }

        if (typeof field._value === 'undefined') {
          switch (field.type) {
            case 'range':
              setDefault({ from: field._min, to: field._max })
              break
            case 'check':
              setDefault(false)
              break
            case 'tabs':
              setDefault(null)
              break
          }
        } else {
          switch (field.type) {
            case 'range':
              if (field._value.from !== field._min || field._value.to !== field._max) {
                setDefault({ from: field._min, to: field._max })
              }
              break
          }
        }

        index++
      }

      console.log('this.innerFields', this.innerFields)

      this.render = true
    },
    applyFilter () {
      this.$emit('input', applyFilter(this.data, this.innerFields))
    }
  }
}
</script>

<style scoped>

</style>
