<template>
  <div id="app">

    <el-row :gutter="24">
      <el-col :span="7" style="position: sticky; top: 10px;">
        <el-card class="box-card" v-loading="!data.length">
          <base-filter
              v-model="filteredData"
              :data="data"
              :fields="fields"
          >
            <template #rooms="{ allowable, value, update, model }">
              <el-tabs type="card" v-model="model.value">
                <el-tab-pane
                    v-for="name of allowable"
                    :key="name"
                    :label="name | formatRoomQuantity"
                    :name="name"
                />
              </el-tabs>
            </template>
            <template #cost="{ name, min, max, value, model }">
              <h2> Цена: </h2>
              <ui-range-input
                  :from="min"
                  :to="max"
                  v-model="model.value"
              />
            </template>
            <template #floorNumber="{ name, min, max, value, model }">
              <h2> Этаж: </h2>
              <ui-range-input
                  :from="min"
                  :to="max"
                  v-model="model.value"
              />
            </template>
            <template #layoutArea="{ name, min, max, value, model }">
              <h2> Площадь: </h2>
              <ui-range-input
                  :from="min"
                  :to="max"
                  v-model="model.value"
              />
            </template>
            <template #withDecoration="{ name, min, max, value, model }">
              <div style="margin-top: 20px;">
                <el-switch
                    v-model="model.value"
                    active-text="Есть отделка"
                    inactive-text="Все">
                </el-switch>
              </div>
            </template>
            <template #hasTerrace="{ name, min, max, value, model }">
              <div style="margin-top: 20px;">
                <el-switch
                    v-model="model.value"
                    active-text="Есть терраса"
                    inactive-text="Все">
                </el-switch>
              </div>
            </template>
            <template #areaSuper="{ name, min, max, value, model }">
              <div style="margin-top: 20px;">
                <el-switch
                    v-model="model.value"
                    active-text="Где площадь комнаты равно 11.38 м2"
                    inactive-text="Все">
                </el-switch>
              </div>
            </template>
          </base-filter>
        </el-card>
      </el-col>
      <el-col :span="17">
        <json-viewer :expand-depth="2" :value="filteredData"></json-viewer>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import BaseFilter from "./components/base-filter";
import UiRangeInput from "./components/element/UIRangeInput";
export default {
  name: 'App',
  components: {
    UiRangeInput,
    BaseFilter
  },
  data () {
    return {
      data: [],
      filteredData: [],
      fields: [
        {
          name: 'rooms',
          field: 'layout.room_count',
          associative: {
            'S': '-1',
            'E2': '2',
            'E3': '3',
            'E4': '4',
          },
          type: 'tabs',
          // вычисление мин макс значений на отфильтрованных
          // данных по этому параметру
          calcMinMaxOnApply: true
        },
        {
          name: 'cost',
          field: 'cost',
          type: 'range'
        },
        {
          name: 'floorNumber',
          field: 'floor.number',
          type: 'range'
        },
        {
          name: 'layoutArea',
          field: 'layout.area',
          type: 'range'
        },
        {
          name: 'withDecoration',
          field: 'properties.with_decoration',
          type: 'check',
          falseMeanAll: true, // если значение false - то берем все объекты
          default: true
        },
        {
          name: 'hasTerrace',
          type: 'check',
          expression: 'layout.variants.*.rooms.*.name = Терраса',
          falseMeanAll: true,
          default: false
        },
        {
          name: 'areaSuper',
          type: 'check',
          expression: 'layout.variants.*.rooms.*.area = 11.38',
          falseMeanAll: true,
          default: false
        },
      ]
    }
  },
  filters: {
    formatRoomQuantity (value) {
      const acc = {
        '-1': 'СТ',
        '1': '1К',
        '2': '2К',
        '3': '3К',
        '4': '4К',
        '5': '5К',
      }

      return acc[value] ?? ''
    }
  },
  created() {
    fetch('https://api.dev.gkosnova.tech/public/api/v1/building-objects/3/properties?detail=1&type=flat')
        .then(res => res.json())
        .then(({  data }) => {
          this.data = data
        })
  }
}
</script>

<style>

</style>
